h1{
  font-weight: 900;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;

}

.k-row{
margin: 10px 5px;
}
.k-button{
  min-width: 80px;
}
